[Desktop Entry]
Encoding=UTF-8
GenericName=Screen Capture Program
GenericName[af]=Skerm Vang Program
GenericName[ar]=برنامج تصوير الشاشة
GenericName[bg]=Предпазител на екрана
GenericName[bs]=Program za "hvatanje" slike
GenericName[ca]=Programa de captura de pantalla
GenericName[cs]=Snímač obrazovky
GenericName[da]=Program til at indfange skærmbilleder
GenericName[de]=Bildschirmphotos
GenericName[el]=Πρόγραμμα αρπαγής οθόνης
GenericName[eo]=Ekranfota programo
GenericName[es]=Capturador de pantalla
GenericName[et]=Kuvahõive rakendus
GenericName[fa]=برنامه‌ی عکاسی از پرده
GenericName[fi]=Ruudunkaappausohjelma
GenericName[fr]=Logiciel de capture d'écran
GenericName[he]=תוכנית לצילום המסך
GenericName[hr]=Program za snimanje zaslona
GenericName[hu]=képlopó
GenericName[it]=Programma per fare foto allo schermo
GenericName[ja]=スクリーンキャプチャープログラム
GenericName[lt]=Ekrano kopijos programa
GenericName[lv]=Ekrāna Sagrābšanas Programma
GenericName[mt]=Programm biex tieħu "ritratt" tal-iskrin
GenericName[nl]=schermafdrukprogramma
GenericName[nn]=Program for skjermbilete
GenericName[nso]=Lenaneo lago Apesa Pontsho
GenericName[pl]=Program do zrzutów ekranu
GenericName[pt]=Programa de Captura do Ecrã
GenericName[pt_BR]=Programa de Captura de tela
GenericName[ro]=Program de captură de ecran
GenericName[ru]=Снимок экрана
GenericName[sk]=Zachytenie obrazovky
GenericName[sl]=Program za zajem zaslona
GenericName[ss]=Luhlelo lwekubamba skrini
GenericName[sv]=Ta en skärmdump
GenericName[ta]=¾¢¨Ã ¸¡ôÒ ¿¢Ãø
GenericName[th]=โปรแกรมจับภาพหน้าจอ
GenericName[tr]=Ekran Yakalama Programı
GenericName[uk]=Захоплювач екрана
GenericName[ven]=Mbekanya mushumo ino gavha tshikirini
GenericName[xh]=Iinkcazelo Ezigcina Ikhusi
GenericName[zh_CN]=屏幕截图程序
GenericName[zh_TW]=畫面擷取程式
GenericName[zu]=Iprogremu Yokubamba Isikrini
BinaryPattern=
Name=KSnapshot
Name[af]=K-kiekie
Name[bg]=KМоменталнаСнимка 
Name[eo]=Ekranfotilo
Name[fr]=KSnapShot
Name[lv]=KSnapšots
Name[pl]=Zrzuty ekranu
Name[sv]=Ksnapshot
Name[th]=จับภาพ - K
Name[ven]=Tshinepe tsha K
Name[zh_TW]=KSnapshot 快照
Name[zu]=KEsincane isithombe
MimeType=
Exec=ksnapshot -caption "%c" %i %m
TerminalOptions=
Icon=ksnapshot
Path=
Type=Application
Terminal=0
DocPath=ksnapshot/index.html
X-KDE-StartupNotify=true
X-DCOP-ServiceType=Multi
Categories=Qt;KDE;Graphics
