[Desktop Entry]
GenericName=Screen Capture Program
Name=KSnapshot
Exec=ksnapshot -caption %c
Icon=ksnapshot
Type=Application
Terminal=false
StartupNotify=false
X-DocPath=ksnapshot/index.html
X-KDE-StartupNotify=false
X-DBUS-StartupType=Multi
Categories=Qt;KDE;Graphics;
